.App {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    text-align: center;
    font-size: 26px;
}

input {
    margin: 5px;
}

.reminder-form { 
    padding: 5px;
}

.list-item {
    display: inline-block;
}

.delete-button {
    float: right;
    padding-left: 5px;
}

.btn-add-reminder {
    margin-right: 5px;
}

.list-group-height {
    height: 300px;
    width: 100%;
    overflow-y: auto;
}

/* ===== Student COMPONENT SECTION ===== */
.student-app {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.student-app-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.student-app-customize {
    display: inline-block;
}

.student-app-list {

}

.student-list-group-item {
    width: 400px;
}
.student-app-ul { 
    width: 400px;
}

/* ===== END OF STUDENT COMPONENT SECTION ===== */